.app{
  position: relative;
  padding: 20px;
  background-color: #00bebe;
  display: flex;
  flex-direction: column;

  .export{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
  }

  button{
    margin: 10px 0;
    width: 100%;
  }

  p{
    time{
      font-weight: bold;
      font-size: 20px;
      &.ok{
        color: #0f0;
      }
      &.danger{
          color: #f00;
      }
    }
  }
 
}