.app{
  padding: 20px;
  background-color: #00bebe;
  display: flex;
  flex-direction: column;
  button{
    margin: 10px 0;
    width: 100%;
  }

  p{
    time{
      font-weight: bold;
      font-size: 20px;
      &.clockIn{
        color: #0f0;
      }
      &.clockOut{
          color: #f00;
      }
    }
  }
 
}