.app {
  position: relative;
  padding: 20px;
  background-color: #00bebe;
  display: flex;
  flex-direction: column;

  .export {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
  }

  button {
    margin: 10px 0;
    width: 100%;
  }

  input {
    padding: 10px 8px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 8px;
  }

  p {
    font-size: 20px;
    font-weight: bold;
  }
}
